<%- include('./partials/header.ejs') %>
<%- include('./partials/logout.ejs') %>
<div class="container">
    <h1>Report evening:</h1>
    <form method="POST" action="/behavior/reporting/evening">
        <label for="date">Choose date:</label><br>
        <input type="date" id="date" name="date"
           value="<%= date %>"><br>
    
        <label for="study_time">Time spent studying:</label><br>
        <input type="text" id="study_time" name="study_time" value='<%= study_time %>'><br>
        <label for="sport_time">Time spent exercising:</label><br>
        <input type="text" id="sport_time" name="sport_time" value='<%= sport_time %>'><br>
        
        <div class="slidecontainer">
            <label for="eating">Quality of eating(1-5, 1 meaning very poor and 5 meaning excellent):</label><br>
            <input type="range" min="1" max="5" value="<%= eating %>" class="slider" id="eating" name="eating">
        </div>
    
        <div class="slidecontainer">
            <label for="mood">Generic mood (1-5, 1 meaning very poor and 5 meaning excellent):</label><br>
            <input type="range" min="1" max="5" value="<%= mood %>" class="slider" id="mood" name="mood">
        </div>
        <input type="submit" value="Report evening" />
    </from>
</div>
<%- include('./partials/error.ejs') %>
<a href="/behavior/reporting">Back to reporting</a><br>
<%- include('./partials/footer.ejs') %>