<%- include('./partials/header.ejs') %>
<%- include('./partials/email.ejs') %>
<% if (email != "") { %>
    <a href="/auth/logout">Logout</a><br>
<% } %>
<br>
<h1>Welcome to my health reporting app!</h1>
<p>With this app you can report and trak things like sleeping, eating and exercise. Start by logging in or register if you don't have an account yet.</p>

<div class="container">
    <a href="/auth/login">Click here to login!</a><br>
    <a href="/auth/register">Click here to register!</a><br>
    <a href="/behavior/reporting">Click here to report! (Only possible if you are logged in)</a><br>
    <a href="/behavior/summary">Click here to see summary. (Only available if you are logged in)</a><br>
    <br>
    <h4>Here you can see the users' avarages moods today and yesterday! :)</h4>
    <p>Average mood today: <%= moodToday %></p>
    <p>Average mood yesterday: <%= moodYesterday %> </p> 
    
    <% if (moodToday != "" && moodYesterday != "") { %>
        <% if (moodToday >= moodYesterday) { %>
            <p>Things are looking bright today!</p>
        <% } else if (moodYesterday > moodToday) { %>
            <p>Things are looking gloomy today...</p>
        <% } %>
    <% } %>
</div>
<%- include('./partials/footer.ejs') %>